/* GLOBAL SWIPER STYLES */

/* Remove this after testing */
/* .ma-get_loc-wrap {
    display: none;
} */
/* end here */

/* NORMAL ANIME CSS */
[pill] .line-mask{
    transform: scale(0);
    opacity: 0;
}

[hero-items]{
    opacity: 0;
    transform: translateY(2rem)
}

.home_hero-img {
    scale: 0;
}



/* iF WEBFLOW EDITOR IS ON */

html.w-editor [pill] .line-mask{
    transform: scale(1);
    opacity: 1;
}

html.w-editor [hero-items]{
    opacity: 1;
    transform: translateY(0rem)
}

html.w-editor .home_hero-img {
    scale: 1;
}

.kerning-v {
    margin-left: 0.001em;
}


[pill="hero1"] .line {
    margin: 0rem -0.9rem;
}

[pill="hero2"] .line-mask .line {
    margin: 0rem -3.25rem;
}

@media only screen and (max-width: 500px) {
    [pill="hero1"] .line {
        margin: 0rem -0.9rem;
    }

    [pill="hero2"] .line-mask .line {
        margin: 0rem -1rem;
    }
} 

/* USER LOCATION ACTIVE STATES */
[get-userloc].is--active {
    pointer-events: none;
}
[get-userloc].is--active .search-butn_icon-img.is--1 {
    opacity: 0;
}
[get-userloc].is--active .search-butn_icon-img.is--2 {
    opacity: 1;
}


.swiper-arrow.is--disabled {
    pointer-events: none;
    filter: grayscale(1);
}

.swiper-button-lock {
    display: none;
}

.swiper-pagination-lock {
    display: none;
}

.map-marker {
    z-index: 2;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.map-marker.is--city {
    z-index: 2;
    width: 20px;
    height: 20px;
    border-radius: 100vw !important;
    overflow: visible;
    box-shadow: 0px 0px 0px 4px #49c5b085
;
}

.map-marker.is--inner {
    height: auto;
    aspect-ratio: 64/ 82;
    color: var(--_palette---teal);
}

.map-marker.is--inner:hover {
    color: var(--_palette---purple);
}

.map-marker.is--inner.is--active {
    color: var(--_palette---purple);
}

.map-marker img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.map-marker-num {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 700;
    position: absolute;
    inset: 0;
    z-index: 3;
    background-color: var(--_palette---teal);
    border-radius: 100vw;
}

.mapboxgl-popup {
    top: -1rem;
    width: 240px !important;
    max-width: auto;
    z-index: 5;
}

.mapboxgl-popup-content {
    border-radius: 10px !important;
}

.mapboxgl-ctrl-group {
    display: flex !important;
    gap: 10px !important;
    box-shadow: none !important;
    background-color: transparent !important;
    margin: 0 2.4rem 2.4rem 0 !important;
}

.mapboxgl-ctrl-zoom-in,
.mapboxgl-ctrl-zoom-out {
    width: 66px !important;
    height: auto !important;
    aspect-ratio: 1.51/ 1.47 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 100vw !important;
}

.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon,
.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
    width: 100%;
    background-size: contain !important;
}

.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
    background-image: url(https://cdn.prod.website-files.com/691db317d5523108e489fad8/695d383cf6091647c7096b68_Map%20%2B%20icon.png) !important;
}

.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
    background-image: url(https://cdn.prod.website-files.com/691db317d5523108e489fad8/695d383ccd7c6bca27a4c77a_Map%20-%20icon.png) !important;
}

.popup-box_inner {
    color: black;
    font-size: 0.8rem;
    max-width: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.popup-box_content {
    width: 100%
}

.popup-box_vac,
.popup-box_vac-list {
    padding-top: 10px;
}

.popup-box-header {
    font-weight: 700;
}

.popup-box_vac-list {
    gap: 0px;
    max-height: 120px;
    overflow-y: auto;
    padding-left: 22px;
}

.mapboxgl-popup-close-button {
    font-size: 26px;
    padding: 10px;
}

.map-no-result.is--active {
    opacity: 1;
    pointer-events: auto;
}

@media only screen and (max-width: 500px) {
.mapboxgl-ctrl-group {
    margin: 0 1rem 1rem 0 !important;
    flex-direction: column-reverse;
}
}




.popup-box_vac-list a {
    text-decoration: underline;
}

.popup-box_vac-list a:hover {
    color: var(--_palette---teal);
}

.filter-dropdown.is--open {
    z-index: 3;
}

.filter-dropdown.is--open .filter-dropdown-list {
    display: block;
}

.filter-tab-links.is-active {
    background-color: var(--_palette---teal);
}

/* SEARCH COMOPONENT */
.search-input-wrap input:focus {
    /* border: 2px green solid; */
    /* border-radius: 100vw; */
    outline: none;
}

/* FAQs */
[hs-faq-item] [hs-faq-ans] {
    max-height: 0px;
}

[hs-faq-item].is--active .hs-acc_close {
    transform: rotateZ(180deg);
}



/* ===================
HOME
HOME
HOME
=======================
*/

/* Hero Section */
.search-item.is--hide {
    display: none;
}

#search-job-butn.is--hide {
    display: none;
}

.no-result-card.is--hide {
    display: none;
}

.search-results-wrap.is--active {
    padding-bottom: 2.5rem;
}


/* Team Category Section */
.team-cat_pane {
    display: none;
}

.team-cat_pane.is--active {
    display: block;
}

/* Latest Jobs */
.listing_filters .filter-button {
    padding: 0.5rem 0.687rem;
    text-transform: uppercase;
    border: 1px solid white;
    color: white;
    transition: all 0.2s ease-in-out;
    border-radius: 100vw;
    font-weight: 600;
}

.listing_filters .filter-button.is--active {
    color: black;
    background-color: white;
}

.listing_result-wrap .search-item-link-wrap {
    margin-top: auto;
}




/* ===================
WHY OCADO LOGISTICS
WHY OCADO LOGISTICS
WHY OCADO LOGISTICS
=======================
*/

/* Story Section */
[swiper-component='story'] .swiper-slide {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0 !important;
    pointer-events: none;
}

[swiper-component='story'] .swiper-slide.is-active {
    opacity: 1 !important;
    pointer-events: auto;
}

/* ===================
BLOGS FRONT PAGE
BLOGS FRONT PAGE
BLOGS FRONT PAGE
=======================
*/

.blog-p_link.is--active .team-cat_link-hover {
    opacity: 1;
}

.blog-p_link.is--active .blog-p_link-txt {
    color: currentColor;
}

.blog-p_link:hover .blog-p_link-txt {
    color: currentColor;
}

.blog-p_link:hover .team-cat_link-hover {
    opacity: 1;
}

.blog-item.is--hide {
    display: none;
}