.quiz_item-h-pill {
    position: relative;
}

/* .quiz_item-h-pill::before {
    content: "";
    position: absolute;
    background-color: green;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
} */

.quiz_item-h-pill-wrap {
    padding: 1.125rem 2.5rem;
}


.quiz_item-wrap.is--active {
    display: flex;
}

.quiz_radio-butn-wrap input {
  display: none;
}

.quiz_radio-butn-wrap label {
  display: block;
  padding: 1.125rem 2rem;
  border: 1px solid #D9D9D6;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 500;
  transition: transform 0.3s ease,
             background-color 0.3s ease;
}

.quiz_radio-butn-wrap label:hover {
  background: #FAEA00;
  border-color: #FAEA00;
}

.quiz_radio-butn-wrap label:has(input:checked) {
  background: #FAEA00;
  border-color: #FAEA00;
  transform: rotate(-2deg);
}

.quiz_item-result-wrap.is--active {
    opacity: 1;
    pointer-events: auto;
}

.quiz_item-arrow.is--disabled {
    border-color: #D9D9D6;
    opacity: 0.5;
    pointer-events: none;
}

[quiz-result-on] {
    transition: opacity .2s;
}

[quiz-result-on].is--active {
    opacity: 0.5;
}

.quiz_join-item.is--active {
    display: flex;
}

.quiz_item-final-result.is--active {
    display: flex;
}

.quiz_item-overlay.is--active {
    opacity: 1;
}

.quiz_item-result-img {
    width: 50%;
    max-width: 320px;
    object-fit: contain;
}

.quiz_item-result-img:nth-of-type(2) {
    width: 30%;
    max-width: 210px;
}


@media screen and (min-width: 991px) {
   .quiz_radio-butn-wrap label {
        max-width: calc(50% - 0.6rem);
    } 
    /* .text-20px, .quiz_radio-butn-wrap label {
        font-size: 20px;
    }
    .text-h1 {
        font-size: 3rem;
    }
    .label-40px {
        font-size: 2rem;
    } */
     html {
        font-size: calc(0.55rem + 0.3vw) !important;
     }
}

@media screen and (min-width: 767px) {
    html {
        font-size: calc(0.7rem + 0.3vw) !important;
     }
}

/* MOBILE */
@media screen and (max-width: 767px) {
.quiz_radio-butn-wrap label {
    font-size: 1.06rem;
}
.quiz_item-h-pill-wrap {
    padding: 0.8125 1.25rem;
}
}