.quiz_item-h-pill {
    position: relative;
}

/* .quiz_item-h-pill::before {
    content: "";
    position: absolute;
    background-color: green;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
} */

.quiz_item-h-pill-wrap {
    padding: 1.125rem 2.5rem;
}


.quiz_item-wrap.is--active {
    display: flex;
}

.quiz_radio-butn-wrap input {
  display: none;
}

.quiz_radio-butn-wrap label {
  display: block;
  padding: 1.125rem 2rem;
  border: 1px solid #D9D9D6;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 500;
  transition: transform 0.3s ease,
             background-color 0.3s ease;
}

.quiz_radio-butn-wrap label:hover {
  background: #FAEA00;
  border-color: #FAEA00;
}

.quiz_radio-butn-wrap label:has(input:checked) {
  background: #FAEA00;
  border-color: #FAEA00;
  transform: rotate(-2deg);
}

.quiz_item-result-wrap.is--active {
    opacity: 1;
    pointer-events: auto;
}

.quiz_item-arrow:hover {
    background-color: var(--_palette---blue);
}

.quiz_item-arrow:hover path {
    stroke: var(--_palette---grey);
}

.quiz_item-arrow.is--disabled {
    border-color: #D9D9D6;
    opacity: 0.5;
    pointer-events: none;
}

[quiz-result-on] {
    transition: opacity .2s;
}

[quiz-result-on].is--active {
    opacity: 0.5;
}

.quiz_join-item.is--active {
    display: flex;
}

.quiz_item-final-result.is--active {
    display: flex;
}

.quiz_item-overlay.is--active {
    opacity: 1;
}

.quiz_item-result-img {
    width: 60%;
    max-width: 320px;
    object-fit: contain;
}

.quiz_item-result-img:nth-of-type(2) {
    width: 38%;
    max-width: 210px;
}

.quiz_item-change:nth-of-type(even) .quiz_item-result {
    transform: rotate(2deg);
}

.quiz_item-change .quiz_item-answer-img {
    transform: rotate(2deg) translate(-50%, -100%);
}
.quiz_item-change:nth-of-type(even) .quiz_item-answer-img {
    transform: rotate(-2deg) translate(-50%, -100%);
}

.quiz_item-change:nth-of-type(5) .quiz_item-h-pill-wrap {
    max-width: 400px;
}

.quiz_item-c-top-col1 .quiz_item-h-pill:nth-of-type(even) {
    transform-origin: top;
    transform: rotate(-2deg)
}

.quiz_item-c-top-col1.is--nojobs {
    align-items: stretch;
}

.quiz_item-c-top-col1.is--nojobs .quiz_item-result-summary-wrap {
    justify-content: space-between;
}

.quiz_item-c-top-col1.is--nojobs .quiz_item-result-sum-img-wrap {
    display: none;
}

#quiz-result-top.is--norole {
    max-width: 540px;
}

.quiz-ques-break {
    height: 1em;
}


@media screen and (min-width: 991px) {
   .quiz_radio-butn-wrap label {
        max-width: calc(50% - 0.6rem);
    } 
    /* .text-20px, .quiz_radio-butn-wrap label {
        font-size: 20px;
    }
    .text-h1 {
        font-size: 3rem;
    }
    .label-40px {
        font-size: 2rem;
    } */
     html {
        /* font-size: calc(0.55rem + 0.3vw) !important; */
        font-size: clamp(0.8rem, calc(0.55rem + 0.3vw), 20px ) !important;
     }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
    html {
        /* font-size: calc(0.7rem + 0.3vw) !important; */
        font-size: clamp(0.8rem, calc(0.7rem + 0.3vw), 20px ) !important;
     }
}

/* MOBILE */
@media screen and (max-width: 767px) {
.quiz_radio-butn-wrap label {
    font-size: 1.06rem;
}
.quiz_item-h-pill-wrap {
    padding: 0.8125 1.25rem;
}
}